*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    background-color:#91c788;
}
.daftar{
    float:left;
    width:50%;
    margin-top: 150px;
    margin-bottom: 200px;
    padding:20px;
}
.ildaftar {
    margin-left: 50px;
    float: left;
    width:50%;
    height:415px;  
}
.illdaftar img {
    margin-left: 200px;
    padding-bottom: 20px;
    width:200px;
    height:200px;
}
.formdaftar h4{
    font-family: 'Roboto',sans-serif;
    color:black;
    text-decoration: none;
    font-weight: 700;
}
.formdaftar {
    background-color: #feffde;
    padding: 30px;
    float: right;
    margin:150px;
    margin-right: 150px;
    border-radius:20px;
}