.footer{
    display: flex;
    height: 180px;
    width: 100%;
    background-color: #393232;
    color: white;
    box-shadow: 0px -7px green;
    margin-top: 50px;
}
.materi,.about,.kontak{
    display: flex;
    flex-direction: column;
}
.isi-footer{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 20px 0px 0px 30px;

}

.isi-footer a{
    color: #91c788;
    text-decoration: none;
}

.media{
    display: flex;
    flex-direction: column;
}
.icon{
    display: flex;
    flex-direction: row;
}
.icon a{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 35px;
    margin-top: 5px;
    margin-right: 8px;
}

.iconify{
    width: 25px;
    height: 25px;
}

.logo-footer{
    display: flex;
    width: 45% ;
    justify-content: end;
    margin: 20px 20px 0 0;
}

.logo-footer img{
    width: 90px;
    height: 64px;
}
