.container-footer{
    background-color: green;
    padding-top: 7px;
}
.footer{
    display: flex;
    height: 180px;
    width: 100%;
    background-color: #393232;
}
.materi,.about,.kontak{
    display: flex;
    flex-direction: column;
}
.isi-footer{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 20px 0px 0px 30px;

}
.isi-footer h3{
    font-family: 'Roboto',sans-serif;
    color: white;
}

.isi-footer a{
    color: #91c788;
    text-decoration: none;
    font-family: 'Noto Sans JP',sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 2px 0;
}

.media{
    display: flex;
    flex-direction: column;
}
.icon{
    display: flex;
    flex-direction: row;
}
.icon a{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 35px;
    margin-top: 5px;
    margin-right: 8px;
}

.iconify{
    width: 25px;
    height: 25px;
}

.logo-footer{
    display: flex;
    width: 45% ;
    justify-content: end;
    margin: 20px 20px 0 0;
}

.logo-footer img{
    width: 90px;
    height: 64px;
}

@media screen and (max-width: 768px) {
    .isi-footer{
        width: 65%;
    }
    .logo-footer{
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    .footer{
        flex-direction: column;
    }
    .isi-footer{
        width: 100%;
    }
    .logo-footer{
        width: 100%;
        padding-right: 20px;
    }
    h3{
        font-size: 14px;
    }
    .isi-footer a{
        font-size: 10px;
    }
    .logo-footer img{
        width: 60px;
        height: 42px;
    }
    .icon a{
        margin-right: 5px;
    }
    .iconify{
        width: 15px;
        height: 15px;
    }
}