*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN CONTENT */

.container{
    background-color: #91c788;
}
.main-content-1{
    display: flex;
    height: 500px;
    width: 100%;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
}

h1,h3,h4{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
}
.com h1{
    font-size: 46px;
    margin-bottom: 40px;
}
.com p{
    font-size: 18px;
}

p{
    font-family: 'Noto Sans JP',sans-serif;
}

.com{
    padding:0 30px
}

.ilustrasi{
    display: flex;
    padding: 0px;
    justify-content: center;

}
.ilustrasi img{
    height: 400px;
    width: 575px;
}


/* MATERI */
.content{
    margin-bottom: 50px;
}
.isi-Content{
    display: flex;
    justify-content: center;
}
.content h1{
    text-align: center;
    margin-bottom: 20px;
}

.photoshop,.illustrator,.figma{
    border: 2px solid white;
    background: #29bb89;
    border-radius: 20px;
    width: 250px;
    height: 238px;
    margin-right: 20px;
    color: white;
}
.logo-photoshop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.tulisan{
    display: flex;
    flex-direction: row;
    height: 85px;
    margin-left: 15px;
    margin-top: 50px;
}
.tulisan h4{
    margin-right: 60px;
}
.tulisan a{
    text-decoration: none;
    color: black;
}
.tulisan .iconify{
    color: black;
}


.logo-photoshop .iconify{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.container-tutup{
    display: flex;
    position: absolute;
    width: 250px;
    height: 238px;
    align-items: center;
    justify-content: center;
}

.container-tutup .iconify{
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
}

.tutup{
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 238px;
    background-color: grey;
    border-radius: 20px;
    opacity: 70%;
}

/* SLIDER */
.testimoni{
    height: 250px;
}
.testimoni h1{
    text-align: center;
}
.slider{
    margin-left: 26%;
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.slides{
    display: flex;
    height: 160px;
    width: 500%;
    align-items: center;
}
.slides input{
    display: none;
}
.slide{
    display: flex;
    align-items: center;
    width: 20%;
    height: 150px;
    border: 3px solid white;
    background: #29bb89;
    margin-right: 5px;
    transition: 2s;
    padding: 10px;
}
.slides img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.kalimat{
    color: white;
}
.nama{
    color: #393232;
    font-weight: 300;
    
}
/* ---Manual Nav */
.nav-manual{
    position: absolute;
    width: 600px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}
.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20.15%;
}

#radio3:checked ~ .first{
    margin-left: -40.32%;
}

#radio4:checked ~ .first{
    margin-left: -60.5%;
}

/* ---Automatic Nav */
.nav-auto{
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 185px;
}

.nav-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: white;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: white;
}

@media screen and (max-width: 768px) {
    .main-content-1{
        margin: 10% 3% 15% 3%;
        flex-direction: column;
    }
    .com{
        order: 2;
    }
    .com h1{
        margin-bottom: 20px;
    }
    .ilustrasi{
        order: 1;
    }
    /* MATERI */
    .isi-Content{
        justify-content: space-evenly;
    }
    .photoshop,.illustrator,.figma{
        width: 230px;
        height: 219px;
        margin-right: 0;
    }
    .tulisan{
        margin-top: 40px;
    }
    .logo-photoshop .iconify{
        margin-bottom: 0px;
    }
    .container-tutup{
        width: 230px;
        height: 219px;
    }
    .tutup{
        width: 230px;
        height: 219px;
    }
    /* TESTIMONI */
    .slider{
        margin-left: 12%;
    }
    
}

@media screen and (max-width: 450px) {
    .main-content-1{
        margin-left: 0;
        flex-direction: column;
        align-items:flex-start;
        margin-bottom: 100px;
        margin-top: 15%;
    }   
    .com{
        order: 2;
        width: 100%;
        padding: 0 10px;
    }
    .ilustrasi{
        order: 1;
        width: 100%;
    }
    .ilustrasi img{
        height: 260px;
        width: 375px;
    }
    /* MATERI */
    .isi-Content{
        flex-direction: column;
        align-items: center;
    }
    .photoshop,.illustrator,.figma{
        margin-bottom: 10px;
        margin-right: 0;
    }
    /* SLIDER */
    .slider{
        margin-left: 5%;
        width: 370px;
        height: 170px;
    }
    .slider p{
        font-size: 11px;
    }

    /* Manual Nav */
    .nav-manual{
        width: 370px;
    }

    /* Auto Nav */
    .nav-auto{
        width: 370px;
    }



}