*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* background-color: #feffde; */
    background-color: #91c788;
}

.kontak {
    color: #333,
    font-family: Roboto,
    font-weight: Bold,
    font-size: 48px,
    opacity: 1
}

table{
    text-align: left;
    background: #feffde;
    width: 300px;
    left: 705px;
    top: -30px;
    border-radius: 0px;
    align: right;
    position: relative; 
}

