*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
p{
    font-family: 'Noto Sans JP';
    font-size: 14px;
}
.container{
    background-color:#91c788;
}
.content{
    width: 100%;
    height: 100%;
    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.isi-content{
    display: flex;
    justify-content: center;
    height: max-content;
    width: 80%;
    background-color: #29bb89;
    border: 2px solid white;
    box-shadow: 0px 0px 20px white;
    padding: 20px;
}

.ilmasuk {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ilmasuk p{
    text-align: center;
}
.masuk h1{
    font-family: 'Roboto',sans-serif;
    color:black;
}
.ilmasuk img {
    width: 450px;
    height: 323px;
    margin-bottom: 10px;
}
.masuk {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #29bb89;
}

.form{
    width: 100%;
    margin: 10px;
    padding: 0 50px;
}
.formEmail input,.formPass input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.submit{
    text-align: center;
    margin: 20px 0;
}
.submit input{
    background-color: #feffde;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.masuk a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:768px) {
    .ilmasuk img {
        width: 250px;
        height: 179px;
        margin-bottom: 0;
    }
    .ilmasuk p{
        font-size: 13px;
    }
}
@media screen and (max-width:450px) {
    .isi-content{
        flex-direction: column;
    }
    .ilmasuk{
        width: 100%;
    }
    .ilmasuk img{
        width: 150px;
        height: 107px;
    }
    .masuk{
        width: 100%;
    }
}