*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

#akun{
    background: green;
}



.content{
    background: whitesmoke;
    width: 83%;
    height: 615px;
    padding: 10px 10px 10px 20px;
}
h1{
    margin-bottom: 10px;
}

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 10px;
}

th{
    background-color:darkgray;
}

